#main-content {
  width: 95%;
  padding-left: 250px;
  font-size: large;
  min-width: 500px;
}

/* Straight from W3C school */
#side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* This is fixed  */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0em; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4em;
  padding-right: 2em;
  background-color: rgba(134,216,247, 0.5);
}

div.footer-padding {
  margin-top: 10em;
}

#side-bar li, nav li {
  list-style-type: none;
  padding-left: 0%;
  padding-top: 1em;
  font-size: small;
}

#side-bar ul {
  padding-inline-start: 2em;
}

nav ul {
  padding-inline-start: 0em;
}

pre {
  overflow-x: scroll;
}

h1, h2, h3 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar, nav li {
  background-color: rgba(249,184,210, 0.5); 
}

.nav-hamburger-menu-icon img{
  height: 40px;
}

nav li {
  text-align: center;
  padding-bottom: 1em;
}

.hide {
  display: none;
}